  <div class="row">
    <div class="column text-center">
      <div class="menu-centered">
        <ul class="menu">
          <li><a href="{{ site.linkedin_url }}" class="footer-menu-link"><i class="fa fa-linkedin fa-lg"></i></a></li>
          <li><a href="{{ site.github_url }}" class="footer-menu-link"><i class="fa fa-github fa-lg"></i></a></li>
          <li><a href="mailto:{{ site.email }}" class="footer-menu-link"><i class="fa fa-envelope fa-lg"></i></a></li>
        </ul>
      </div>
      <p>Made with <i class="fa fa-heart-o" aria-hidden="true"></i> in San Miguel de Allende.</p>
    </div>
  </div>
