  <div class="row">
    <div class="column">
      <div class="header-nav">
        <img src="{{ 'assets/img/logo.png' | relative_url }}" alt="">
        <p class="header-nav-subtitle">Software Engineer & Web Developer</p>
        <div class="menu-centered">
          <ul class="menu">
            <li><a href="{{ '/' | relative_url }}" class="header-nav-link {% if item.url == / %}is-active{% endif %}">Portfolio</a></li>
            <!-- <li><a href="#">About</a></li> -->
            <!-- <li><a href="#">Contact</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>